**/venv/
**__pycache__**
**/.env
*.safetensors
*.ckpt
*.pt
*.bin

data/pretrained_models/*
lora/*_LORA/output/*
data/classify/*
data/answers/*
data/keywords/*
data/sql/*

# models
Qwen2.5-7B-Instruct-1M/*
Qwen3-8B/*
Qwen3-Embedding-8B/*

ptuning/NL2SQL_PTUNING/output/

neobanker_sheets/*

_mcp_etc/train/*
_mcp_etc/test/data/*
_mcp_etc/test/result/*
_mcp_etc/venv/*
_mcp_etc/redis-6.0.8/*
_mcp_etc/config/*

*.out
